.buildContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 2.4em;
}

.readContainer {
  display: flex;
  font-size: 0.8em;
  color: #737373;
}

.viewTracker {
  margin-left: 5px;
  margin-right: 5px;
}

/* COMMENTS SECTION STYLING */

.formContainer {
  background-color: rgb(45, 48, 54);
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.08), 0 0 2px rgba(0, 0, 0, 0.6);
}

.formZone {
  padding: 0px !important;
}

.formZone h2 {
  font-size: 1.7em;
  font-weight: 700;
}

.formZone h3,
h2 {
  padding: 15px;
}

.formSection {
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.formHeaderContainer {
  padding: 20px;
  border-bottom: 2px solid #00000017;
}

.formInputs {
  border-bottom: 2px solid #00000017;
}

.formControl {
  background-color: rgb(37, 39, 45);
  border-radius: 3px;
  padding: 5px 15px;
  border: none;
}
.formControl:focus {
  border-color: #5bc0de;
  box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, 0.08), 0 0 2px rgba(83, 165, 237, 0.6);
  outline: none;
}

.formSection label {
  margin-bottom: 8px;
}

.formMain button {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(83, 165, 237);
  border-radius: 8px;
}

.commentItem {
  margin-top: 20px;
  background-color: rgb(45, 48, 54);
  border-radius: 8px;
  padding: 20px;
}

.commentsCont {
  max-width: 1000px;
}

.commentAuthor {
  color: rgb(83, 165, 237);
  padding: 0 !important;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: 700;
}

.commentContent {
  font-size: 1em;
  margin-left: 5px;
}
